html,
body {
	height: 100%;
}
//activating flexbox, body is the flex container
//items will be vertical
body {
	display: flex; 
	flex-direction: column;
	background-color: #fff;
	margin: 0;
	font-family: sans-serif;
	color: #222;
	font-size: 0.9em; 
}

//GSB - will grow, not shrink, computes initial width automatically
.main {
	flex: 1 0 auto; 
	display: flex;
}

aside {
	flex: 0 0 40px;
	//display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #f2f2f2;
}

aside i.fa {
	font-size: 0.9em;
}

//GSB - won't grow, won't shrink, will stay at 90px
footer {
	flex: 0 0 90px; 
	//height: 35px;
	padding: 10px;
	color: #fff;
	background-color: rgba(61, 100, 158, .9);
}

